
#header {
    position: fixed;
    left: 0;right: 0;top: 0;
    font-size: 1rem;
    padding: 1.5rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(135, 194, 249);
    color: #fff;
    font-weight: 300;
    z-index: 9999;
}

#header .title a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}

.dep1 {
    display: flex; gap: 1vw;
}

.dep1 li a {
    display: block;
    padding: 0.5rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.68);
    color: rgb(135, 194, 249);
    border-radius: 4px;
    font-weight: 500;
    transition: all 0.3s ease;
    text-align: center;
}

.dep1 li a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(75, 75, 75, 0.548)
}
