.circle {
  position: absolute;
  opacity: 0;
  will-change: transform, opacity;
  pointer-events: none;
}

.scroll {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.2em;
  font-size: 11px;
}

.scroll svg {
  margin-top: 10px;
  width: 18px;
  height: 18px;
  animation: scroll 0.95s ease-in-out alternate infinite;
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 1;
}

@keyframes scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(10px); }
}
